<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to tomato's home!</title>
</head>
<body>
hi world
<div class="container">
    <h1>hi {{username}}</h1>
    <h1>hi {{password}}</h1>
</div>
<div class="container">
    <h1>no1:</h1>
    <h2>File Name:{{filenames}}</h2>
    <h2>File Sizes:{{file_sizes}}</h2>

    <h1>no2:</h1>
    <h2>File Name:{{file_size}}</h2>
    <h2>File Notes:{{notes}}</h2>
    <h2>File Type:{{fileb_content_type}}</h2>
</div>
</body>
</html>